* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #240a34;
  color: #ffedd8;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(45deg,#240a34, #891652, #eabe6c); 
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#wrapper {
  text-align: center; 
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.form {
  text-align: center;
}

#guess {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.guessField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.guessSubmit {
  background-color: #eab94c;
  color: #240a34;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.guessSubmit:hover {
  background-color: #f8d18e;
}

.resultParas {
  margin-top: 20px;
}

.resultParas p {
  font-size: 18px;
  margin-bottom: 10px;
}

#newGame {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #eab94c;
  color: #240a34;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#newGame:hover {
  background-color: #f8d18e;
}

.lowOrHigh {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
