* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.btn-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008080;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #016161;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#guide {
    margin-top: 20px;
}

#guide p {
    margin-bottom: 5px;
}

.underweight {
    background-color: #ffcc00;
    padding: 0.2rem 0;
    border-radius: 0.3rem;
}

.normal {
    background-color: #00cc66;
    padding: 0.2rem 0;
    border-radius: 0.3rem;
}

.overweight {
    background-color: #ff5050;
    padding: 0.2rem 0;
    border-radius: 0.3rem;
  }

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}



  
